<!--This is the html code for the week1 web app
# Name: Elizabeth Tenorio  -->

<!DOCTYPE html>
<html>
    <head>
        <title> Executor </title>
    </head>
    <body>
        <br>
        <center> Enter a message: </center>
        <br>
        <form action="/" method="post">
            <center>
                <input type="text" name="expression" size=40 />
                <input type="submit" value="Reverse" />
            </center>
        </form>
        <center>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <br>
                Results:
                <pre>
                    {% for message in messages %}
{{message}}
                    {% endfor %}
                </pre>
                {% endif %}
            {% endwith %}
        </center>
    </body>
</html>
